@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2rem;
    background-color: transparent;
    position: absolute;
    transform: translatex(-2rem);
}

  main {
      display: block;
  }

  .gallery {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      justify-items: center;
  }
}
